<div class="row">
    <div class="col text-center">
        <img src="assets/img/{{intentos}}.png" class="ahorcado-img">
        <h3>Intentos <small>{{ intentos }} / 9</small></h3>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <h1> {{ palabraOculta }}</h1>
    </div>
</div>
<div class="row" *ngIf="ganar">
    <div class="col text-center">
        <h1> Felicidades Ganaste!!! </h1>
        <h4>:D</h4>
    </div>
</div>
<div class="row" *ngIf="perder">
    <div class="col text-center">
        <h1> Lo siento, perdiste </h1>
        <h4>{{ palabra }}</h4>
    </div>
</div>
<div class="row" *ngIf="!ganar && !perder">
    <div class="col text-center">
        <button type="button" class="btn btn-primary" *ngFor="let l of letras" (click)="comprobar(l)">{{ l }}</button>
    </div>
</div>